/* 主页部分整体布局，各大区块基本设置 */

.main-layout {
  width: 86%;

  padding-left: 7%;
  padding-right: 7%;
}

/* 通用分区grid，内部元素需要占据合适的span
*/
.main-grid {
  display: grid;
  column-gap: 12px;
  margin-bottom: 56px;

  /* TODO: 响应式 */
  grid-column: 5;
  grid-template-columns: repeat(5, 1fr);
}

/* 通用的header，标题和按钮分居两侧 */
.area-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  height: 34px;
  font-size: 24px;
}

.area-header .left {
}

.area-header .right {
}
