/* 整个网页的wrapper，控制网页居中和整体缩放大小 */
.main-frame {
  margin: 0 auto;
  max-width: 2560px;
}

/* 主页部分整体布局，主要控制左右padding */
.main-layout {
  min-width: 980px;

  padding-left: 96px;
  padding-right: 96px;
}

/* 响应式 */
@media screen and (max-width: 1900px) {
  .main-layout {
    padding-left: 72px;
    padding-right: 72px;
  }
}

@media screen and (max-width: 1400px) {
  .main-layout {
    padding-left: 48px;
    padding-right: 48px;
  }
}

/* ********************************** */

/* 长条的广告 */
.advertisement {
  position: relative;
  margin-bottom: 32px;
}

.advertisement img {
  width: 100%;
}

.advertisement a {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  height: 100%;
  width: 100%;
}

/* ********************************** */

/* 通用分区grid */
.main-grid {
  display: grid;
  column-gap: 12px;
  margin-bottom: 56px;

  grid-column: 7;
  grid-template-columns: repeat(7, 1fr);
}

/* 响应式 */
@media screen and (max-width: 2200px) {
  .main-grid {
    grid-column: 6;
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 1700px) {
  .main-grid {
    grid-column: 5;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 1100px) {
  .main-grid {
    grid-column: 4;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* ********************************** */

/* 通用的header，标题和按钮分居两侧 */
.area-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  height: 34px;
  margin-bottom: 12px;
  font-size: 24px;
}

.area-header .left a {
  color: rgb(100, 100, 100);
}

.area-header .left:hover {
  cursor: default;
}

/* .area-header .right {
} */

.area-header-button {
  border-width: 1px;
  border-color: #eeeeee;
  border-radius: 6px;
  height: 34px;

  background-color: white;

  font-size: 14px;
  border-style: solid;
}

/* ********************************** */
