nav {
    margin: 0 auto;
    position: relative;
    width: 1650px;
    height: 100px;
    min-width: 1000px;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-wrapper a:link, .nav-wrapper a:hover, .nav-wrapper a:visited {
    color: black;
    text-decoration: none;
}

.left-nav table {
    border-spacing: 30px 10px;
}

.center-nav table {
    border-spacing: 60px 10px;
    font-size: 13px;
}

.right-nav table {
    border-spacing: 30px 10px;
}

.center-nav span {
    display: inline-block;
    height: 12px;
    line-height: 12px;
    padding: 1px 2px;
    font-size: 5px;
    color: #fff;
    background-color: #7acce6;
    border-radius: 3px;
}

.home-page-wrapper {
    margin: 0 auto;
    width: 1650px;
    display: flex;
    justify-content: space-around;
}